@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    width: 1160px;
    height: 0px auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 60px);
    gap: 40px;
}

article.hero-text {
    grid-column: 1/8;
}

.hero-text h1 {
   position: relative;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    width: 600px;
    margin-left: 50px;

    top: 270px;
    left:80px;
    z-index: 2;

}

aside.hero-text {

    position: relative;
    left:80px;
    top:260px;
    font-size: 25px;margin-top: 10px;
    margin-left:50px ;
    
    width: 600px;
    grid-column: 8 / 13;
    z-index: 2;
}

.hero-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;

    font-family: 'Playfair Display', serif;
    grid-column: span 12;
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
}

body>header>nav {
    display: flex;
    height: 120px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    
    position: relative;
    left:500px;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    z-index: 2;
}
li {
    height: 50px;
    width: 80px;
    text-align: center;
    padding:5px ;
    border: 2px solid transparent; 
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 10px;
    z-index: 2;
}
li:hover {

    height: 50px;
   box-sizing: border-box;
    text-align: center;
    padding: 5px;
    width: 100px;
    border-radius: 40px;
    border-color: #6B4F31;
    color: #708238;
    background-color: wheat;
    
}

.browk { 
    position: relative;
    left:80px;

    transition: all 0.3s ease;
    border:2px solid transparent;
    padding: 5px;
    margin-left: 10px;
    color: black;
    text-align: center;
    width: 220px;
    height: 32px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    height: 50px;
    z-index: 2;
}
.browk:hover {
    height: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    border-color: #6B4F31;
    color: #708238;
    background-color: wheat;
}
.control {
    display: flex;
    position: relative;
    left:700px;
    width: 300px;
    gap:10px;
    height: 40px;
    z-index: 2;
}
.sign {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: rgba(17, 17, 17, 0.08);
    border-radius: 50px;
    width: 110px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    z-index: 2;
    
}
.sign:hover{
    font-weight: bold;
    color: #708238;
    background-color: wheat;
    border-radius: 50px;
    border-color: #6B4F31;
    
}

.join {
    z-index: 2;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: #64BCAE;
    border-radius: 50px;
    width: 110px;
    border: 1px solid transparent;
    color: white;
    transition: all 0.3s ease;
    
}
.join:hover{
    background-color: wheat;
    border-radius: 50px;
    border-color: #6B4F31;
}
.catalog {
    z-index: 2;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #64BCAE;
    border-radius: 50px;
    width: 120px;
    border: 1px solid transparent;
    transition: all 0.3 ease;
    color: white;
    font-size: 17px;
}
.catalog:hover {
    background-color: wheat;
    border-radius: 50px;
    border-color: #6B4F31;
    font-weight: bold;
    color:#6B4F31;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    gap:40px;
    position: relative;
    z-index: 2;
}

.see {
    z-index: 2;
    width: 500px;
    font-size: 17px;
    font-weight: bold;
    gap: 7px;
    margin-top: 20px;
    padding: 10px;
    border-radius:50px;
    align-items: center;
    justify-content:flex-start;
    display: flex;
    background-color: rgba(17, 17, 17, 0.1);
    color: #000000;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.see:hover {
    background-color: wheat;
    border-radius: 50px;
    border-color: #6B4F31;
    font-weight: bold;
    color:#6B4F31;
}
.circle {
    z-index: 2;
    width: 30px;
    height: 30px;
    background-color: #64BCAE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle:hover {
    background-color: rgb(231, 199, 138);
}


.triangle {
    margin-left: 3px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid white;
    z-index: 2;
}