.product__card {
    border: none;
    width: 350px;
    height: 408px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: #FFFFFF;
    color: #1C1C27;
    border-radius: 30px;
    border: none;
    margin: 30px;
}

.heart {
    position: absolute;
    width: 20px;
    height: 18px;



}

.heart img {
    cursor: pointer;
    position: relative;
    left: -145px;
    right: 0px;
    top: -180px;
}

.heart img .active {
    background-color: black;
}

.product__card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 15px 64px 55px;
    height: 250px;
}

.product__card__name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 308px;
    display: flex;
margin-left: -20px;
margin-bottom: 30px;
}

.name {
    margin-bottom: 25px;
}

.product__card__name__name {
    color: #1C1C27;
    font-size: 17px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;


}

.product__card__price {
    position: relative;
    top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFA542;
    margin-left: 105px;

}

.old__price {
    color: #FFA542;
    opacity: 50%;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 23px;
    height: 21px;
    opacity: 50%;
    margin-left: -80px;

}