.composition {
    width: 640px;
    height: 400px;
    position: relative;
    background-color: lightgray;
}
.meteor {
    position: absolute;
    top: 150px;
    left:310px;
    z-index: 1;
    
}
.planet1 {
    position: absolute;
    top:30px;
    left: 250px;
    width: 100px;
}
.planet2 {
    position: absolute;
    top: 70px;
    left: 140px;
    width: 150px;
}
.planet3 {
    position: absolute;
    top:180px;
    left:190px;

}
.spaceshift {
    position: absolute;
    top:100px;
    left: 200px;
}
.ufo {
    position: absolute;
    top: 300px;
    left: 450px;
    height: 60px;
}
