 
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#015854 ;
}

nav a {
    position: relative;
    left: 50px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

img {
    width: 100px;
    height: 100px;
}

.cont {
    text-align: left;
    padding: 50px;
}

.text {
    color: white;
    font-size: 100px;
}

.container {
    padding: 50px;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: flex-start; 
    gap: 40px; 
    align-items: center; 
    text-align: left;
}

.img {
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
}

.names-roles {
    display: flex;
    flex-direction: column; 
    font-size: 20px;
}

.name {
    color: rgba(139, 134, 134, 0.5);
}

.role {
    color: rgb(218, 209, 209);
}


@media (max-width: 600px) {
    body {
        padding: 0; 
        margin: 0;  
    }

    .text {
        font-size: 40px;  
        padding: 20px;   
        max-width: 100%;  
        margin: 10px;    
    }

    .container {
        display: flex;
        flex-direction: column; 
        gap: 10px;              
        padding: 10px;          
        text-align: center;     
    }

    .img {
        width: 80px;  
        height: 80px; 
    }

    .names-roles {
        font-size: 18px;  
        margin: 5px 0;    
    }
}