.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 450px;
    flex-direction: column;
}

.image {
    align-items: center;
    margin-bottom: 30px;
}

.cart__name {
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 30px;
}

.image img {
    width: 410px;
    height: 315px;
}

.cart__extra {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #555;
}

.btn button {
    background-color: black;
    color: white;
    width: 540px;
    height: 65px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.container__Cart {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    margin: 50px auto;
}

.container__Cart h2 {
    font-weight: 600;
    font-size: 24px;
    color: black;
    margin-bottom: 14px;
}

.cart__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cart__products {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 640px;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart__item__image {
    width: 146px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 24px;
}

.cart__item__image img {
    overflow: hidden;
    align-items: center;
    margin-bottom: 17px;
}

.cart__item__buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.cart__item__buttons button {
    padding: 4px 10px;
    width: 35px;
    height: 30px;
    font-size: 19px;
    border-radius: 50px;
    border: none;
    background-color: #FFCE7F;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.cart__products__name {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
}

.cart__products__name h1 {

    color: black;
    font-size: 18px;
    margin-bottom: 8px;
}

.cart__products__name p {
    color: #333;
    font-size: 16px;
    opacity: 50%;
    font-weight: 600;
}

.cart__last {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart__last img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.delete__button img {
    margin-bottom: 144px;
}

.delete__button {
    align-items: center;
    text-align: right;
    color: black;

}

.cart__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.btn__order {
    color: white;
    background-color: black;
    border: none;
    border-radius: 16px;
    cursor: pointer;

}

.order {
    font-size: 17px;
    font-weight: 600;
    width: 250px;
    height: 65px;
}



.btn__order {
    border: none;
    border-radius: 16px;
    width: 350px;
    height: 65px;
    background-color: #101010;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: -65px;
}

.orderprice {
    width: 350px;
    height: 112px;
    display: flex;
    background-color: white;
    border: none;
    border-radius: 16px;
    justify-content: space-between;


}

.orderprice p {
    margin-top: 21px;
    margin-left: 21px;
    margin-right: 16px;
}