.content__container {
    display: flex;
    justify-content: space-evenly;

}

.content__container__second {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.content__container__third {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.headphones-section {


    display: flex;
    flex-direction: row;
    justify-content: center;

}

.content__container__second h2 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 25px;
    margin: 20px;
    padding: 20px;
    font-weight: 600;
}

.content__container__third h2 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 25px;
    margin: 20px;
    padding: 20px;
    font-weight: 600;
}


.airpads-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    border-radius: 30px;
    width: 350px;
    height: 450px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    color: #1C1C27;
    margin: 10px;
}

.two__suggestions{
    margin-top: 60px;
}
.first p {
    margin-top: 21px;

}

.suggestion {
    display: flex;
    justify-content: baseline;
    margin-bottom: 140px;
}

.advice {
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    padding: 13px 21px 13px;
    margin-right: 20px;
}
.everything{
    display: flex;
    flex-direction: column;
    margin-left: -20px;
}