.header__container{
  display: flex;
  justify-content: space-between;
}

.header__logo
{
 display: flex;
 justify-content: center;

 align-items: center;
    
}
.header__logo__logo .logo {
    cursor:  pointer;
    margin-right: 65px;
}
.header__logo__logo{
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    align-items: center;
    
 
}
.header__logo__selecter{
    display: flex;flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 255px;
    height: 21px;
    font-weight: 400;
    font-size: 15px;
}
.header__logo__selecter .phoneImg{
    margin-right: 10px;
    width: 15px;
    height: 21px;
}
.header__btns{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 120px;
    height: 60px;
    
}
.header__logo__selecter .arrow {
    transform: rotate(180deg);
    margin-right: 10px;
  transition: 0.3s;
  margin: 5px 5px 5px;
  cursor: pointer;
}

.header__logo__selecter .arrow.active {
    transform: rotate(0deg);

}
.favorite-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: orange;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.header__btns__favourites {
    position: relative;
}

.cart__badge{
     position: absolute;
    top: -5px;
    right: -5px;
    background: orange;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.header__btns__cart{
    position: relative;
}