body {
    background-color: rgb(255, 252, 252);
}

p {
    font-size:50px
}
.wha {
    font-size: 25px;
}

button a {
    text-decoration: none;
    color:rgb(89, 148, 187);
}
table {
    width: 100%;
    height: 300px;
    border-collapse: collapse;
    font-size: large;
}


    

tr:nth-child(even) {
    background-color: #f2f2f2; 
}
tr:nth-child(odd) {
    background-color: #dcdcdc; 
}
td {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(221, 221, 230);
    border-radius: 0px; 
}
th:nth-child(1) {
    background-color: rgb(170, 200, 220);
}
th:nth-child(3) {
    background-color: rgb(140, 180, 200);
}
th:nth-child(4) {
    background-color: rgb(110, 160, 180);
}
th:nth-child(5) {
    background-color: rgb(80, 140, 160);
}
th:nth-child(2) {
    background-color: rgb(151, 194, 223);
}