<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add new A New Brand</h1>
<form method = "POST">
    <label for="name">Brand name</label><br>
    <input type="text" name="name" id="name" required><br><br>
    <label for = "description">Description: </label>
    <textarea id = "description" name = "description" required></textarea><br>
    <button type = "submit"> Add brand </button>
</form>
</body>
</html>