.back__btn{
    width:35px;
    height:35px;
    border:1px solid #f2f2f2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.favorites__title{
    display: flex;
    align-items: center;
}
.favorites__title h2{
    font-size:32px;
    font-weight: 700;
    color:#000;
    margin-left: 21px;
}