<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new User</title>
</head>
<body>
    <form method="post" action = ".">
        {%csrf_token %}
        {{user.as_p}}
        <input type ="submit" value = "Create"/>
        
    </form>
    <p><button onclick = "history.back()"> Back </button></p>
   <p> <a href = "{% url 'home' %}">
        <button type = "button">Main Page</button>
    </a>
</body>
</html>