<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>

    <h2>Info About the Brand {{data}}</h2>
    <br><p>
        Name of the brand: {{data.name}}
    </p>
    <br><p>Country: {{data.country}}</p>
    <br><p>Short Info: {{data.info}}</p>
   
    <br>  
    {%  if data.big_logo %}
        <br> <img src ="{{ data.big_logo.url }}" alt = "{{data.big_logo.label}}"
        height = "200px" width = "200px"
        >
   {% else %}
        <br> <img src ="{% static 'not_found.jpeg' %}" alt = "Not found"
    height = "200px" width = "200px"
    >
    {% endif %}
   
   <br>
   {% if data.small_logo %}
        <img src = 'data:image/jpeg;base64,{{data.small_logo.decode}}'>
   {% else %}
        <img src = "{% static 'not_found_small.jpeg' %}">
   {% endif %}
   
    <button onclick="history.back()" >Back</button>
</body>
</html>