body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    min-height: 100vh;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
}
.video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.video-info img {
    width: 120px; 
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}
.details {
    flex: 1;
}
.details h2 {
    margin: 0 0 5px;
    font-size: 18px;
}
.details p {
    margin: 0;
    font-size: 14px;
}
.progress-bar {
    
    
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 40px;
    
    overflow: hidden;
    position: relative;
    
    
}
.progress-bar span {
    display: block;
    height: 100%;
    background-color:rgb(37, 49, 160);
    border-radius: 10px;
    animation: loading 5s linear infinite;
    
}
@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@media (max-width: 500px) {
   .video-info {
        flex-direction: column;
        text-align: center;
    }
    .video-info img {
        width: 100px;
        height: 100px;
    }
    .progress-bar{
        width: 100%;
    }
    button {
        width: 120px;
        height: 50px;
        font-size: 18px;
        bottom: 20px;
        top:20px
    }
    .progress-bar {
        bottom: 60px;
        left: 110px;
        width: 50%;
        height: 20px;
        background-color: #f3f3f3;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-top: 20px;
        overflow: hidden;
        position: relative;
        
    }
    
}
button {
    color: #ffffff;
    background-color: rgb(37, 49, 160);
    width: 80px;
    height: 30px;
    position: relative;
    bottom: 35px;
    border: none;

}