h1 {
    text-align:left;
}
.violet {
    color: rgb(111, 52, 189);
}
.Green {
    background-color:#000000;
}
.Green {
    color:rgb(13, 247, 13)
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    font-family:Arial, Helvetica, sans-serif;
}
