body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    font-weight: bold; 
    background-color:#44889e;
    color: white;
}

.odd {
    background-color: #e6e2e2; 
}

.even {
    background-color: #ffffff; 
}

td {
    font-weight: normal; 
}
