<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Brand</title>
</head>
<body>
    <h1>Edit Brand</h1>
    <form method="post">
        <label for="name">Brand name:</label><br>
        <input type="text" id="name" name="name" value="{{ brand.name }}" required><br><br>

        <label for="description">Description:</label><br>
        <textarea name="description" id="description" required>{{ brand.description }}</textarea><br><br>

        <button type="submit">Save changes</button>
    </form>
</body>
</html>
