body {
    background-image: url('pattern-wicker-rope.png');
    background-repeat: repeat;
    background-size: 300px 300px;
    margin: 0;
    padding: 0;
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;

}
.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(78, 74, 74, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white
}
.paw {
    background-image: url("PAW.png");
    background-size: cover;
    width:100px;
    height: 100px;
    background-color: transparent;
    text-align: center;
    color:transparent;
    border:none;


}
.cat {
    width: 50px;
    height: 50px;
}
