body {
    background-color: lightgray;
    font-family: sans-serif;
    display: flex;
}
.card{
    display: inline-block; 
    margin: 10px; 
    padding: 0px;
    border: 1px solid #ccc;
    width: 200px; 
    background-color: rgb(255, 255, 255);
    height: 400px;
    overflow: hidden;
    text-align: left;
    
  }
  button {
    
    display: block; 
    align-self: center;
    margin:  10px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    border:none;
    padding: 10px 40px;
    color:white;
    background-color: #8B4513;
    height: 40px;
    width: 80%;
    
  }
  
h2 {
    color: #8B4513;
    font-family:sans-serif;
    font-weight: 300;
    
    margin:10px
}
p {
    display:flexbox;
    font-size: smaller;
    margin: 10px;
}
.price {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin:10px ;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0;
}