header{
    padding:63px 0 45.5px;
    border-bottom: 1px solid #EAEAEA;
}
.container{
    width:960px;
    margin:0 auto;
}
header .container{
    display: flex;
    align-items: center;
}
.header__btns{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header__cart{
    display: flex;
    align-items: center;
}
.header__cart img{
    margin-right: 10px;
}
.header__cart p{
    font-size:14px;
    font-weight: 600;
}
.header__favorites{
    margin:0 30px;
}
.header__btns > div{
    cursor: pointer;
}