{% extends "base.html" %}
{% block title %}Delete Plan{% endblock %}

{% block content %}

<div class="page">

  <div class="container">

    <h1 class="title">Are you sure?</h1>
    <p class="subtitle">
      Do you really want to delete the plan: <strong>{{ plan.name }}</strong>?
    </p>

    <form method="POST" class="delete-form">
      {% csrf_token %}
      <button type="submit" class="btn delete-btn">Yes, Delete it</button>
      <a href="{% url 'plan_list' %}" class="btn cancel-btn">Cancel</a>
    </form>

  </div>

</div>

{% endblock %}