body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

a {
    text-decoration: none;
    color: #0077cc;
 
}


.contents a {
    list-style-type: decimal;
    display: block;
    padding: 5px 0;
}

dl {
    margin: 20px 0;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-left: 20px;
}