<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Hello</h2>
<p>
        List of hte Cities
        <br>
        {% for x in ls_street %}

            {{ x.pk }} | {{ x.name }} | {{ x.info }}


        {% endfor %}
    </p>


    <p>
        List of hte Streets
        <br>
        {% for x in ls_street %}

            {{ x. }} 

        {% endfor %}
    </p>
</body>
</html>